[run]
source = django_emoji

[report]
omit = emoji/tests.py, emoji/_*.py
exclude_lines =
              UNICODE_WIDE
              except NoReverseMatch
              except ImportError
              pragma: no cover